<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADD OTHER EXPENSES</title>
<!--    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">-->
</head>
<style>
    .button1 {
        background-color: yellow;
        color: black;
    }

</style>
<body bgcolor=#e0ffff>
<hr>
<div class="container">
    <div style="text-align: center;"/>
    <h2>ADD OTHER CAR EXPENSES</h2>
    <div>

        <form action="#" th:action="@{/add_other}" th:object="${other}" method="post">

            <input type="hidden" th:field="*{id}" placeholder="id"><br>
            <h3>VALUE</h3>
            <input type="text" th:field="*{value}" placeholder="value"><br>
            <h3>DESCRIPTION</h3>
            <input type="text" th:field="*{description}" placeholder="description"><br>
            <h3>DATE</h3>
            <h4>DD-MM-YYYY</h4>
            <input type="text" th:field="*{date}" placeholder="date"><br>
            <input type="submit" th:value="SAVE">
            <br/>
            <br/>
            <button><a class="button1" href="/otherIndex" >RETURN</a></button>
        </form>
        <hr>
    </div>
</div>

</body>
</html>